#build directory
bin*
obj/*
.vs/IGAnalyzer/CopilotIndices/*
bin/Debug/net9.0-windows/*.dll
bin/Debug/net9.0-windows/IGAnalyzer.dll
bin/Debug/net9.0-windows/IGAnalyzer.exe
bin/Debug/net9.0-windows/IGAnalyzer.pdb
obj/Debug/net9.0-windows/apphost.exe
obj/Debug/net9.0-windows/IGAnalyzer.AssemblyInfo.cs
obj/Debug/net9.0-windows/IGAnalyzer.AssemblyInfoInputs.cache
obj/Debug/net9.0-windows/IGAnalyzer.dll
obj/Debug/net9.0-windows/IGAnalyzer.pdb
obj/Debug/net9.0-windows/ref/IGAnalyzer.dll
obj/Debug/net9.0-windows/refint/IGAnalyzer.dll
