# test data
*.txt

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.cashe
*.bin
*.pdb
*.dll
*.lib
*.exe

#build directory
bin*
obj/*
.vs/IGAnalyzer/CopilotIndices/*
bin/Debug/net9.0-windows/*.dll

